SUPABASE_URL=https://kqsbovfojtdohonbeqkj.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtxc2JvdmZvanRkb2hvbmJlcWtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ2MjgwMDMsImV4cCI6MjA1MDIwNDAwM30.AQ6VP4ITt3yidxuUcwvqs5hQ_KOn-v3vmMNoOp22tM8